<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="m_reg" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="name"><br>
        <input type="text" name="password" placeholder="password"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="phone" placeholder="phone"><br>
        <input type="text" name="address" placeholder="address"><br> 
        <input type="text" name="district" placeholder="district"><br> 
            
        <input type="submit" ><br>
    </form>    
</body>
</html>